.react-datepicker{
    *{
        box-sizing: border-box;
    }
    position: relative;
    z-index: 100;
    width: 270px;
    .datepicker-input{
        position: relative;
        .c-input{
            width: 100%;
            height: 36px;
            box-shadow: none;
            line-height: 1.42857;
            font-size: 12px;
            letter-spacing: normal;
            padding: 6px 12px;
            font-family: Verdana, "Microsoft YaHei", Arial, 宋体, sans-serif;
            border: 1px solid rgb(213, 224, 242);
            border-image: initial;
            box-sizing: border-box;
        }
        .datepicker-icon{
            position: absolute;
            top: 7px;
            right: 10px;
            .icon{
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(../img/icon.png) no-repeat;
                background-size: 100%;
            }
        }
    }
    .datepicker-modal{
        position: absolute;
        top: 50px;
        left: 0;
        background: #fff;
        border-radius: 4px;
        -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
        box-shadow: 0 2px 8px rgba(0,0,0,.15);
        transition: opacity 0.2s ease,height 0.1s ease;
        padding: 5px 0 10px;
        z-index: 1000;
        .left-switch{
            width: 80px;
            line-height: 26px;
            text-align: center;
            float: left;
            margin-top: 60px;
            .day-select{
                font-size: 13px;
                color: #666;
                cursor: pointer;
                &:hover{
                    color: #1890ff;
                }
                &.active{
                    color: #1890ff;
                }
            }
        }
        .right-content{
            margin-left: 80px;
            .datepicker-modal-content{
                .week-title{
                    overflow: hidden;
                    width: 230px;
                    margin: 0 auto;
                    .week-title-item{
                        float: left;
                        width: 14%;
                        height: 28px;
                        line-height: 28px;
                        text-align: center;
                    }
                }
                .days-content{
                    overflow: hidden;
                    width: 230px;
                    margin: 0 auto;
                    .days-con-item{
                        float: left;
                        width: 14%;
                        height: 28px;
                        line-height: 28px;
                        margin-bottom: 5px;
                        text-align: center;
                        cursor: pointer;
                        &:hover{
                            background: #e6f7ff;
                        }
                    }
                    .selected-active{
                        background: #1890ff;
                        color: #fff;
                        &:hover{
                            background: #1890ff;
                        }
                    }
                    .now-active{
                        background: #fff;
                        color: #1890ff;
                        border: 1px solid #1890ff;
                        line-height: 26px;
                    }
                    .no-active{
                        color: rgba(0,0,0,0.25)
                    }
                }
                .weeks-content{
                    .week-item{
                        overflow: hidden;
                        margin-bottom: 5px;
                        &:hover{
                            background: #e6f7ff;
                        }
                        .week-con-item{
                            float: left;
                            width: 14%;
                            height: 28px;
                            line-height: 28px;
                            text-align: center;
                            cursor: pointer;
                        }
                    }
                    .selected-active{
                        .week-con-item{
                            background: #1890ff;
                            color: #fff;
                            &:hover{
                                background: #1890ff;
                            }
                        }
                    }
                }
            }
            .datepicker-modal-top{
                text-align: center;
                line-height: 28px;
                border-bottom: 1px solid #e8e8e8;
                span[class*="left"],span[class*="right"]{
                    &:hover{
                        color: #1890ff;
                    }
                    cursor: pointer;
                }
                .top-year-left{
                    float: left;
                    margin-left: 10px;
                    &::after{
                        content: "\AB"
                    }
                }
                .top-month-left{
                    float: left;
                    margin-left: 15px;
                    &::after{
                        content: "\2039"
                    }
                }
                .top-year-right{
                    float: right;
                    margin-right: 15px;
                    &::after{
                        content: "\BB"
                    }
                }
                .top-month-right{
                    float: right;
                    margin-right: 10px;
                    &::after{
                        content: "\203A"
                    }
                }
            }
        }
    }
    .over-animate{
        opacity: 1;
    }
    .leave-animate{
        opacity: 0;
    }
}
.clearfix::before{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.clearfix{
    zoom: 1;
}