.react-datepicker{
    position: relative;
    z-index: 100;
    .datepicker-input{
        .c-input{
            width: 100%;
            height: 36px;
            box-shadow: none;
            line-height: 1.42857;
            font-size: 12px;
            letter-spacing: normal;
            padding: 6px 12px;
            font-family: Verdana, "Microsoft YaHei", Arial, 宋体, sans-serif;
            border: 1px solid rgb(213, 224, 242);
            border-image: initial;
            box-sizing: border-box;
        }
    }
    .datepicker-modal{
        position: absolute;
        width: 180px;
        top: 50px;
        left: 0;
        background: #fff;
        border: 1px solid #999;
        z-index: 9999;
        .datepicker-modal-content{
            .week-title{
                overflow: hidden;
                .week-title-item{
                    float: left;
                    width: 25px;
                }
            }
            .days-content{
                overflow: hidden;
                .days-con-item{
                    float: left;
                    width: 25px;
                }
            }
        }
    }
}